<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          <li>觉得代码如诗的，要么是天才，要么是傻X</li>
        </ul>
      </div>
      <div class="footer-col">
        <p>RaoYi.net&nbsp;&nbsp;<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a>&nbsp;&nbsp;<a rel="nofollow" href="https://raoyi.net/feed.xml">Feed.xml</a></p>
      </div>
    </div>
  </div>
</footer>
