---
layout: default
---

<div class="home">
  <nav id="tag-nav">|
  {% for tag in site.tags %}
    <a href="#{{ tag[0] | slugify }}">{{ tag[0] }}</a> |
  {% endfor %}
</nav>
  <hr />
<div><b>Recent</b></div>
<ul style="list-style-type: none">
  {% for post in site.posts limit: 5 %}
    <li>{{ post.date | date: "%Y-%m-%d" }} <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

{% for tag in site.tags %}
  <a name="{{ tag[0] | slugify }}"></a>
  <div id="{{ tag[0] | slugify }}"><b>{{ tag[0] }}</b></div>
  <ul style="list-style-type: none">
    {% for post in tag[1] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
</div>
